html, body {
	background-color: #999;
	font-size: 16px;
}

.app-container {
	background-color: #fff;
	max-width: 1024px;
	/* take up the full length of browser window */
	height:100vh; 
	/* center app container in window */
	margin: 0 auto;
}

/* when not using drawer, this will remove padding that's
	occupied by drawer icon */
.mdl-layout__header-row {
	padding-left: 24px; /* TODO: mobile 16px; */
}

.mdl-layout__content {
	padding-top: 24px;
	padding-right: 24px;
	padding-left: 24px;
}

textarea:focus, input:focus {
	outline: none;
}

/* header on sub page */
.yata-sub-header {
	background-color: #f2f2f2;
}

.yata-button__dark {
	color: rgba(0,0,0,.4);
}

.yata-done__active {
  color: rgb(76, 175, 80);  
}

/* float the fab add button over bottom right corner */
.yata-button__add {
	/* use absolute instead of fixed, since we're 
		position within a relative parent */
	position: absolute;
	bottom: 24px;
	right: 24px;
}

.yata-item-form .mdl-textfield {
	width: 100%;
}

.yata-list__item {
	box-sizing: border-box;
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 48px;
}

.yata-list__item_content {
	display: table-cell;
	width: auto;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.yata-list__item_content a, .yata-list__item_content a:hover {
	text-decoration: none;
	color: rgba(0,0,0,.87);
}

.yata-list__item_status {
	display: table-cell;
	width: 42px;
	text-align: right;
}

@media screen and (max-width: 1024px) {
	.mdl-layout__header-row {
		padding-left: 16px; 
	}

	.yata-button__add {
		bottom: 16px;
		right: 16px;
	}	
	.mdl-layout__content {
		padding-right: 16px;
		padding-left: 16px;
	}
}

